*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Lucida Console", "Courier New", monospace;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

header {
  background: ##FFFFFF;
  padding: 20px 30px;
  margin: auto;

  font-size: 2rem;
  text-align: center;
  color: black;
  display:block;
}

section {
  margin: auto;

  padding: 10px 10px;
  font-size: 1rem;
  text-align: center;
  color: black;
  font-weight: 100;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
}

footer {
	margin: auto;
  text-align: center;
  color: #black;
}

.container {
/*  width: 800px;
  max-width: 80%;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
  height: 70%;
*/

  padding: 20px;
  background-color: #FFFFFF;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.btn-grid {
  display: grid;
  gap: 25px;
  margin: 20px 0;
}


.btn {
  --hue: var(--hue-neutral);
  border: 2px solid #13292A;
  background-color: #13292A;
  border-radius: 5px;
  padding: 5px 10px;
  color: #FFFFFF;
  outline: none;
  font-size: 1.25rem;
}


.btn:hover {
  border-color: black;
}

.btn.correct {
  --hue: var(--hue-correct);
  background-color: #04D9C4;
  border-color: #04D9C4;
}

.btn.wrong {
  --hue: var(--hue-wrong);
  background-color: #F20519;
  border-color: #F20519;
}


.start-btn, .next-btn {
  font-size: 1.5rem;
  padding: 10px 20px;
  font-weight: bold;
}


.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}